body {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: #ffffffa0;
    background-color: #04a3fb80;
}

.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1c1c1c;
    padding: 100px 0 0 160px;
}


/* Editor Style */

.editor-menu {
    display: flex;
    flex-direction: row;
    padding: 4px 16px;
    margin-bottom: 16px;
    background-color: #3E3E3E;
    border-radius: 4px;
    gap: 16px;
}

.text-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border-radius: 4px;
    overflow: hidden;
}
.list-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.list-edit button {
    border-radius: 4px;
}

button {
    width: 40px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    background-color: #1c1c1c;
    padding: 4px 0;
    
}

button.active {
    color: #FFD600;
}

.select-font-size, .select-font-color{
    padding: 4px;
    width: 62px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #1c1c1c;
    border: none;
}



/* Editor Style */

.editor {
    width: 100%;
    min-height: 100%;
    
    color: #ffffff;
    font-size: 24px;
    caret-color: #04A3FB;
    
    line-height: 1.2;
    border: none;
    resize: none;
}

.editor:focus {
    outline: none;
}


font[size='1'] { font-size: 16px; }
font[size='2'] { font-size: 20px; }
font[size='3'] { font-size: 24px; }
font[size='4'] { font-size: 28px; }
font[size='5'] { font-size: 32px; }
font[size='6'] { font-size: 36px; }
font[size='7'] { font-size: 48px; }