body {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: #ffffffa0;
    background-color: #04a3fb80;
}

.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1c1c1c;
    padding: 100px 0 0 160px;
}


/* Editor Style */

.editor-menu {
    display: flex;
    flex-direction: row;
    padding: 4px 16px;
    margin-bottom: 16px;
    background-color: #3E3E3E;
    border-radius: 4px;
    gap: 16px;
}

.text-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border-radius: 4px;
    overflow: hidden;
}
.list-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.list-edit button {
    border-radius: 4px;
}

button {
    width: 40px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    background-color: #1c1c1c;
    padding: 4px 0;
    
}

button.active {
    color: #FFD600;
}

.select-font-size, .select-font-color{
    padding: 4px;
    width: 62px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #1c1c1c;
    border: none;
}



/* Editor Style */

.editor {
    width: 100%;
    min-height: 100%;
    
    color: #ffffff;
    font-size: 24px;
    caret-color: #04A3FB;
    
    line-height: 1.2;
    border: none;
    resize: none;
}

.editor:focus {
    outline: none;
}


font[size='1'] { font-size: 16px; }
font[size='2'] { font-size: 20px; }
font[size='3'] { font-size: 24px; }
font[size='4'] { font-size: 28px; }
font[size='5'] { font-size: 32px; }
font[size='6'] { font-size: 36px; }
font[size='7'] { font-size: 48px; }



/* Help Style */

.help {
    transition: all 0.5s;
    
    position: fixed;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    font-weight: bold;
    background-color: #606060;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.help:hover {
    background-color: #a0a0a0;
}
.help:active {
    background-color: #505050;
}

.guide {
    z-index: 100;
    transition: all 0.5s;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #33333380;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 20px 28px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
}

.title {
    color: #04a3fb;
    font-size: 32px;
    font-weight: bold;
}

.exit {
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
    color: #ffffff;

    user-select: none;
}

.exit:hover {
    color: #cecece;
}

.content {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-grow: 1;
}

.name {
    font-size: 24px;
    color: #cecece;
    margin-bottom: 8px;
}

li {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 4px;
}

.black {
    transition: all 0.5s;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #00000080;

    pointer-events: none;
    opacity: 0;
}